<app-header></app-header>
<div class="content" role="main">
  <h2 class="home-title">Times de atendimento</h2>
  <mat-card *ngFor="let team of teams" (click)="navigateToTeamAtendimentos(team.id)" class="centered-card">
    <mat-card-content><span class="options">{{team.name}}</span></mat-card-content>
  </mat-card>
  <mat-card (click)="router.navigate(['manage-attendments/'])" class="centered-card">
    <mat-card-content><span class="options">Nova solicitação</span></mat-card-content>
  </mat-card>
  <div class="reppo-link">
    Link do&nbsp;
    <a href="https://github.com/VictorMaciel28/todo-list" target="_blank" rel="noopener">
      Repositório
    </a>
    <a href="https://github.com/VictorMaciel28/todo-list" target="_blank" rel="noopener">
    </a>
  </div>
  <app-footer></app-footer>
</div>